<!-- <p>{{title}}</p> -->
<!-- custom pipe example -->
<p>{{ 'Hello World' | reverse }}</p>
<nav>
	<ul>
		<li><a routerLink="page2" name="page2" routerLinkActive="active">Home</a></li>
		<li><a routerLink="aws" name="page2" routerLinkActive="active">About</a></li>
		<li><a routerLink="page1" name="page1" routerLinkActive="active">Shopping</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
<div style="display: flex;border: 1px solid;justify-content: center;text-align: center;">
<div style="border: 1px solid;margin: 10px;">
	  <p style="margin: 10px;">ABC</p>
	</div>
<div style="border: 1px solid;margin: 10px;">
	  <p style="margin: 10px;">PQR</p>
	</div>
<div style="border: 1px solid;margin: 10px;">
		<p style="margin: 10px;">XYZ</p>
</div>
</div>

<br>
<button (click)="encryptAndDecryptData()">Encrypt and Decrypt Data</button>

<div>
<p>Encrypted Data: {{ encryptedData }}</p>
  <p>Decrypted Data: {{ decryptedData }}</p>
</div>

<!-- In your component template -->
<div appMyCustomDirective>This div will have a yellow background.</div>

<p appHover="'orange'">hello world dasdasdasdffff</p>