
<div *ngFor="let product of products" class="counter-container">
  <img src="{{ product.simgae }}">
  <p>{{ product.name }}</p><p> -- </p><p> {{ product.desc }}</p>
  <button (click)="updateQuantityAndAmount(product.id, product.quantity - 1)">-</button>
  <span>{{ product.quantity }}</span>
  <button (click)="updateQuantityAndAmount(product.id, product.quantity + 1)">+</button>
  <span>Rs.{{ product.amount }}</span><br>
  
</div>
<div>
  <p>Total Amount: Rs.{{ totalAmount }}</p>
</div>


<!-- <div class="counter-container">
  <img src="https://angular.io/assets/images/tutorials/faa/bernard-hermant-CLKGGwIBTaY-unsplash.jpg">
  <button type="text" class="btn btn-primary" (click)="onDecrement()">-</button>
  <p>{{ increment }}</p>
  
  <button type="text" class="btn btn-primary" (click)="onIncrement()">+</button>
  
  <p>Rs.{{ price1 }}</p>
</div>
<p>-----------------------------------------------------------------------------------------------------</p>

<div *ngFor="let item of products" class="counter-container">
  <img src="https://angular.io/assets/images/tutorials/faa/bernard-hermant-CLKGGwIBTaY-unsplash.jpg">
  <p>{{ item.name }}</p>
  <button type="text" class="btn btn-primary" (click)="onDecrement()">-</button>
  <p>{{ increment }}</p>
  
  <button type="text" class="btn btn-primary" (click)="onIncrement()">+</button>
  
  <p>Rs.{{ price1 }}</p>
</div> -->


